absl-py==2.2.0
accelerate==1.6.0
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.10
aiosignal==1.3.1
ale-py==0.10.2
altair==5.5.0
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.9.0
astunparse==1.6.3
async-timeout==4.0.3
attrs==24.2.0
Authlib==1.5.2
beautifulsoup4==4.13.4
blinker==1.9.0
cachetools==5.5.2
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.8
clip @ git+https://github.com/openai/CLIP.git@dcba3cb2e2827b402d2701e7e1c7d9fed8a20ef1
cloudpickle==3.1.1
coloredlogs==15.0.1
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
datasets==3.0.2
dill==0.3.8
distro==1.9.0
duckduckgo_search==8.0.1
etils==1.12.2
exceptiongroup==1.2.2
expecttest==0.2.1
Farama-Notifications==0.0.4
fastapi==0.115.12
ffmpy==0.5.0
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.4.1
fsspec==2024.9.0
ftfy==6.3.1
gitdb==4.0.12
GitPython==3.1.44
glfw==2.8.0
gradio==5.27.1
gradio_client==1.9.1
groovy==0.1.2
grpcio==1.71.0
gymnasium==1.1.1
h11==0.14.0
httpcore==1.0.8
httpx==0.28.1
huggingface-hub==0.30.2
humanfriendly==10.0
hypothesis==6.115.3
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
importlib_resources==6.5.2
iniconfig==2.1.0
itsdangerous==2.2.0
Jinja2==3.1.4
jiter==0.9.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
lintrunner==0.12.5
lxml==5.4.0
Markdown==3.7
markdown-it-py==3.0.0
markdownify==1.1.0
MarkupSafe==3.0.2
matplotlib==3.10.1
mdurl==0.1.2
mpmath==1.3.0
msgpack==1.1.0
mujoco==3.3.1
multidict==6.1.0
multiprocess==0.70.16
narwhals==1.37.0
networkx==3.4.1
ninja==1.11.1.1
numpy==2.1.1
onnx==1.17.0
onnxruntime==1.21.1
opencv-python==4.11.0.86
optree==0.13.0
orjson==3.10.16
packaging==24.1
pandas==2.2.3
pillow==11.1.0
pluggy==1.5.0
primp==0.15.0
propcache==0.2.0
protobuf==5.29.4
psutil==6.1.0
py-cpuinfo==9.0.0
pyarrow==17.0.0
pybullet @ file:///Users/runner/miniforge3/conda-bld/bullet_1747514835663/work
pycocotools==2.0.8
pycparser==2.22
pydantic==2.11.3
pydantic_core==2.33.1
pydeck==0.9.1
pydub==0.25.1
pygame==2.6.1
pyglet==1.5.31
Pygments==2.19.1
PyOpenGL==3.1.9
pyparsing==3.2.2
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-multipart==0.0.20
pytz==2024.2
PyYAML==6.0.2
ray==2.44.1
redis==6.0.0
referencing==0.36.2
regex==2024.9.11
requests==2.32.3
rich==13.9.4
rpds-py==0.24.0
ruff==0.11.7
safehttpx==0.1.6
safetensors==0.4.5
scipy==1.15.2
seaborn==0.13.2
segment_anything @ git+https://github.com/facebookresearch/segment-anything.git@dca509fe793f601edb92606367a655c15ac00fdf
semantic-version==2.10.0
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
smolagents==1.14.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.7
stable_baselines3==2.6.0
starlette==0.46.2
streamlit==1.44.1
sympy==1.13.1
tenacity==9.1.2
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tokenizers==0.20.1
toml==0.10.2
tomli==2.2.1
tomlkit==0.13.2
torch==2.6.0
torchvision==0.21.0
tornado==6.4.2
tqdm==4.66.5
transformers==4.45.2
trimesh==4.6.8
typer==0.15.2
types-dataclasses==0.6.6
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
ultralytics==8.3.99
ultralytics-thop==2.0.14
urllib3==2.2.3
uvicorn==0.34.2
wcwidth==0.2.13
websockets==15.0.1
Werkzeug==3.1.3
xxhash==3.5.0
yarl==1.16.0
zipp==3.21.0
